/* Estilos para o headerPedido */
.headerPedido {
    width: 100%;
    height: 138px;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

/* Estilos para infoPessoaish1 */
.infoPessoaish1 {
    display: flex;
    margin: 45px 0 17px 137px;
}

/* Estilos para dNumeroUm */
.dNumeroUm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555555;
}

/* Estilos para numeroUm */
.numeroUm {
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

/* Estilos para infoUm */
.infoUm {
    color: #555555;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 28px;
    margin-right: 10px;
}

/* Estilos para formPersonalData */
.formPersonalData {
    background-color: #E2E1CC;
    width: 25%;
    margin-left: 137px;
    padding: 20px;
    border-radius: 5px;
}

/* Estilos para formPersonalData label */
.formPersonalData label {
    color: #777777;
    font-family: 'Inter';
}

/* Estilos para formPersonalData input */
.formPersonalData input {
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

/* Estilos para input:focus */
input:focus {
    border-color: #111111;
    outline: none; /* Remove o outline padrão do navegador */
}

/* Estilos para input::placeholder */
input::placeholder {
    color: rgba(0, 0, 0, 0.45);
}

/* Estilos para infoEntregash1 */
.infoEntregash1 {
    display: flex;
    margin: 45px 0 17px 137px;
}

/* Estilos para dNumeroDois */
.dNumeroDois {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555555;
}

/* Estilos para numeroDois */
.numeroDois {
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

/* Estilos para infoDois */
.infoDois {
    color: #555555;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 28px;
    margin-right: 10px;
}

/* Estilos para formAddressData */
.formAddressData {
    background-color: #E2E1CC;
    width: 25%;
    margin-left: 137px;
    padding: 20px;
    border-radius: 5px;
}

/* Estilos para formAddressData label */
.formAddressData label {
    color: #777777;
    font-family: 'Inter';
}

/* Estilos para formAddressData input */
.formAddressData input {
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

/* Estilos para formAddressData select */
.formAddressData select {
    color: #777777;
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

/* Estilos para paymentMethodsh1 */
.paymentMethodsh1 {
    display: flex;
    margin: 45px 0 17px 137px;
}

/* Estilos para dNumberThree */
.dNumberThree {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555555;
}

/* Estilos para numberThree */
.numberThree {
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

/* Estilos para paymentTitle */
.paymentTitle {
    color: #555555;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 28px;
    margin-right: 10px;
}

/* Estilos para paymentButtons */
.paymentButtons {
    background-color: #E2E1CC;
    width: 25%;
    margin-left: 137px;
    padding: 20px;
    border-radius: 5px;
}

/* Estilos para paymentButtons label */
.paymentButtons label {
    color: #777777;
    font-family: 'Inter';
}

/* Estilos para paymentButtons input */
.paymentButtons input {
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

/* Estilos para pix, debit, credit, paymentSlip */
.pix,
.debit,
.credit,
.paymentSlip {
    display: flex;
    justify-content: center;
}

/* Estilos para pix button, debit button, credit button, paymentSlip button */
.pix button,
.debit button,
.credit button,
.paymentSlip button {
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    font-weight: medium;
    font-size: 20px;
    color: #514E4E;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #F7F7EF;
}

/* Estilos para pix button:hover, debit button:hover, credit button:hover, paymentSlip button:hover */
.pix button:hover,
.debit button:hover,
.credit button:hover,
.paymentSlip button:hover {
    background-color: #777777;
    color: #FFFFFF;
}

/* Estilos para pixPercent */
.pixPercent {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 900;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 4px;
}

/* Estilos gerais para links */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilos gerais para o corpo da página */
body {
    background-color: #F7F6EF;
    width: 100%;
    margin: 0;
}

/* Estilos para Logo */
.Logo {
    width: 190px;
    height: 47.93px;
    margin-top: 46px;
    margin-left: 50px;
}

/* Estilos para OpcoesHeader */
.OpcoesHeader {
    margin-top: 65px;
    gap: 125px;
    padding-left: 390px;
    font-family: 'Poppins', sans-serif;
    color: #514E4E;
    font-size: 18px;
}

/* Estilos para OpcoesHeader a:hover */
.OpcoesHeader a:hover {
    color: #C4C298;
}

/* Estilos para SimbolosHeader */
.SimbolosHeader {
    gap: 70px;
    padding-left: 310px;
}

/* Estilos para Favoritos */
.Favoritos {
    width: 47px;
    height: 47px;
    margin-top: 54px;
}

/* Estilos para Usuario */
.Usuario {
    width: 45px;
    height: 45px;
    margin-top: 56px;
}

/* Estilos para Carrinho */
.Carrinho {
    width: 47px;
    height: 47px;
    margin-top: 55px;
}

/* Estilos para Carousel */
.Carousel {
    width: 100%;
    height: 200px;
}

/* Estilos para onda */
.onda {
    width: 100%;
    height: auto;
    background-color: #F7F6EF;
}

/* Estilos para footer */
footer {
    background-color: #C4C298;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0;
}

/* Estilos para Direitos */
.Direitos {
    color: #E7E7E7;
    font-size: 17px;
    font-weight: 500;
    padding-top: 41px;
    margin-bottom: 0px;
}

/* Estilos para ConteudoFooter */
.ConteudoFooter {
    gap: 30px;
    justify-content: center;
}

/* Estilos para OpcoesFooter */
.OpcoesFooter {
    gap: 100px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    padding-right: 30px;
}

/* Estilos para vertical-line */
.vertical-line {
    width: 1px;
    height: 22px;
    background-color: rgba(51, 51, 51, 0.2);
}

/* Estilos para SimbolosFooter */
.SimbolosFooter {
    padding-left: 32px;
    padding-right: 50px;
}

/* Estilos para WhatsApp */
.WhatsApp {
    width: 21px;
    height: 21px;
    margin-left: 45px;
}

/* Estilos para Instagram */
.Instagram {
    width: 20px;
    height: 20px;
    margin-left: 45px;
}

/* Estilos para Tiktok */
.Tiktok {
    width: 20px;
    height: 22.42px;
    margin-left: 45px;
}

/* Estilos para Email */
.Email {
    width: 20px;
    height: 18.38px;
    margin-right: 16px;
}

/* Estilos para Gmail */
.Gmail {
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}

/* Estilos para LogoRedonda */
.LogoRedonda {
    width: 90px;
    height: 90px;
    margin-bottom: 55px;
}

/* Estilos gerais para main */
main {
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.body_purchase {
    display: flex;
}