header {
    width: 100%;
    height: 138px;
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit; 
}

body {
    background-color: #F7F6EF;
    width: 100%;
    margin: 0;
}

.Logo {
    width: 190px;
    height: 47.93px;
    margin-top: 46px;
    margin-left: 50px;
}

.OpcoesHeader {
    margin-top: 65px;
    gap: 125px;
    padding-left: 390px;
    font-family: 'Poppins', sans-serif;
    color: #514E4E;
    font-size: 18px;
}

.OpcoesHeader a:hover {
    color:#C4C298;
}

.SimbolosHeader {
    gap: 70px;
    padding-left: 310px;
}

.Favoritos {
    width: 47px;
    height: 47px;
    margin-top: 54px;
}

.Usuario {
    width: 45px;
    height: 45px;
    margin-top: 56px;
}

.Carrinho {
    width: 47px;
    height: 47px;
    margin-top: 55px;
}

.Carousel {
    width: 100%;
    height: 200px;
}

.onda {
    width: 100%;
    height: auto;
    background-color: #F7F6EF;
}

footer {
    background-color: #C4C298;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0;
}

.Direitos {
    color: #E7E7E7;
    font-size: 17px;
    font-weight: 500;
    padding-top: 41px; /* Reduzido o padding-top */
    margin-bottom: 0px;
}

.ConteudoFooter {
    gap: 30px;
    justify-content: center;
}

.OpcoesFooter {
    gap: 100px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    padding-right: 30px;
    
}

.vertical-line {
    width: 1px;
    height: 22px;
    background-color: rgba(51, 51, 51, 0.2);
}

.SimbolosFooter {
    padding-left: 32px;
    padding-right: 50px;
}

.WhatsApp {
    width: 21px;
    height: 21px;
    margin-left: 45px;
}

.Instagram {
    width: 20px;
    height: 20px;
    margin-left: 45px;
}

.Tiktok {
    width: 20px;
    height: 22.42px;
    margin-left: 45px;
}

.Email {
    width: 20px;
    height: 18.38px;
    margin-right: 16px;
}

.Gmail {
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}

.LogoRedonda {
    width: 90px;
    height: 90px;
    margin-bottom: 55px;
    
}

.header2 {
    width: 100%;
    color: white;
    background-color: #C4C298;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: start;
    height: 180px;
    padding-left: 110px;
}

.header2 h1 {
    font-family: 'Quicksand', 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 450;
    padding-top: 41px;
}

main {
    background-color: #F7F6EF;
    width: 100%;
}

/*-------------------------------------------------------- CSS que pertence aos status de Pagamento (Aprovado e Inválido) : ------------------------------------------------------------------------*/

#PagamentoAprovado-main {
    height: 690px;
}

#PagamentoErro-main {
    height: 598px;
}

.PagamentoStatus {
    position: relative;
    justify-content: center;
    text-align: center;
}

.PagamentoStatus h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #444444;
    background-color: #FFFFFF;
    border-radius: 2px;
    border-color: #C4C298;
    width: 900px;
    border: 10px solid rgba(196, 194, 152, 1);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.LogoColorida {
    margin-bottom: 40px;
    width: 250px;
    height: 73.24px;
}

.PagamentoStatus p {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E2E1CC;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.13); 
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    width: 430px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 428px;
}

#PagamentoErro-p {
    margin-top: 310px;
}


/*-------------------------------------------------------- CSS que pertence a Pagamento Pix: ------------------------------------------------------------------------*/

#PagamentoPix-main {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payment-pix a {
    font-weight: bold;
    font-size: 25px;
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    margin-bottom:15px;
}
#payment-pix img {
    margin-bottom:15px;
}

/*-------------------------------------------------------- CSS que pertence a Pagamento Boleto: ------------------------------------------------------------------------*/

#PagamentoBoleto-main {
    min-height: 100%;
    height: 1100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-payment{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-payment div{
    display: flex;
    flex-direction: column;
}

#download-boleto{
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
}

#download-boleto:hover{
    text-decoration: underline;
}

/*-------------------------------------------------------- CSS que pertence a Pagamento Debito e Credito: -------------------------------------------------------------*/

#PagamentoDebito-main {
    min-height: 100%;
    height: 1100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-container{
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: #C4C298;
    width: 700px;
    margin-top: 50px;
    margin-bottom:auto;
}
.payment-h1{
    color: #505050;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

#form-payment{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-payment div{
    display: flex;
    flex-direction: column;
}

#form-payment label{
    color: rgba(119, 119, 119, 0.9);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

#form-payment input {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    width: 500px;
    height: 35px;
} 

input:focus {
    border-color: #111111; /* Substitua pelo código de cor desejado */
    outline: none; /* Remove o outline padrão do navegador */
}

input::placeholder {
    color: rgba(0, 0, 0, 0.45);
}

.form-h2 {
    font-family: 'Open Sans';
    font-size: 20px;
    display: flex;
    font-weight: bold;
    color: rgba(85, 85, 85, 0.9);
    margin: 20px;
    width: 500px;
}

.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    padding: 10px;
    width: 280px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #C4C298;
    border-radius: 5px;
    margin: 30px;
    margin-bottom: 50px;
}

.main-button:hover{
    cursor: pointer;
    background-color: #666666;
}

#awaiting-payment-hidden {
    display: none;
}

#awaiting-payment p {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E2E1CC;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.13); 
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    width: 525px;
    margin-top: 50px;
}

/*-------------------------------------------------------- CSS que pertence somente a Pagamento Crédito: ----------------------------------------------------------------*/

#PagamentoCredito-main {
    min-height: 100%;
    height: 1150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-payment select {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
}